em {
  background: cyan;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-color: black;
  /* background-image: linear-gradient(to right, #8e43e7, #00aeff); */
  color: #fff;
  margin-bottom: 1rem;
}

.header a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.header-title {
  font-size: 1.5rem;
  font-weight: normal;
}

.header-subtitle {
  font-size: .75rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
}

.searchbox {
  margin-bottom: 1rem;
}

.statsbox {
  margin-bottom: 2rem;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}

.left-panel {
  float: left;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin-bottom: 0;
}

p {
  font-size: .85rem;
  margin-bottom: 0;
  padding: 0;
}

li.ais-Hits-item {
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: 3px solid transparent;
  cursor: pointer;
}

li.ais-Hits-item:hover {
  border: 3px solid red;
  box-shadow: none;
  cursor: pointer;
}

p.tiny {
  font-size: .75rem;
}